@import "tailwindcss";

@font-face {
    font-family: "TheGlobePersonalUseBold-2ORlw";
    src: url("./fonts/the-globe-font/TheGlobePersonalUseBold-2ORlw.ttf") format("truetype");
}

@font-face {
    font-family: "KnightWarrior-w16n8";
    src: url("./fonts/knight-warrior-font/KnightWarrior-w16n8.otf") format("opentype");
}

.globe-font {
    font-family: "TheGlobePersonalUseBold-2ORlw";
}

.knight-warrior-font {
    font-family: "KnightWarrior-w16n8";
}